# Python
__pycache__/
*.py[cod]
*.log

# Virtual env
.venv/
venv/
env/
ENV/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# RL artifacts (huge)
runs/
checkpoints/
videos/

# results: keep small eval csv, ignore others
results/*
!results/eval/
!results/eval/*.csv

# optional
.ipynb_checkpoints/
